//
// Navigation
header.navigation {
  $navigation-padding: 1em;
  $navigation-background: $dark-gray;
  $navigation-color: transparentize(white, 0.3);
  $navigation-color-hover: white;
  $navigation-height: 60px;
  $navigation-nav-button-background: $base-accent-color;
  $navigation-nav-button-background-hover: lighten($navigation-background, 10);
  $navigation-nav-button-border: 1px solid lighten($navigation-nav-button-background, 20);
  $navigation-search-background: lighten($navigation-background, 5);
  $navigation-search-border: 1px solid darken($navigation-background, 5);
  $navigation-active-link-color: transparentize(white, 0.5);
  $navigation-submenu-padding: 1em;
  $navigation-submenu-width: 12em;
  $horizontal-bar-mode: $large-screen;

  background-color: $navigation-background;
  border-bottom: 1px solid darken($navigation-background, 10);
  @include media($horizontal-bar-mode) {
    height: $navigation-height;
  }
  width: 100%;
  z-index: 498;

  .navigation-wrapper {
    @include clearfix;
    @include outer-container;
    position: relative;
    z-index: 499;
  }

  .logo {
    float: left;
    max-height: $navigation-height;
    padding-left: $navigation-padding;
    padding-right: 2em;

    img {
      max-height: $navigation-height;
      padding: .8em 0;
    }
  }

  // Mobile view

  .navigation-menu-button {
    color: $navigation-color;
    display: block;
    float: right;
    font-family: $sans-serif;
    font-weight: 700;
    line-height: $navigation-height;
    margin: 0;
    padding-right: 1em;
    text-transform: uppercase;

    @include media ($horizontal-bar-mode) {
      display: none;
    }

    &:hover {
      color: $navigation-color-hover;
    }
  }

  // Nav menu

  nav {
    z-index: 9999999;
    float: none;
    @include media ($horizontal-bar-mode) {
      float: left;
    }

    ul {
      -webkit-transform-style: preserve-3d; // stop webkit flicker
      clear: both;
      display: none;
      margin: 0 auto;
      overflow: visible;
      padding: 0;
      width: 100%;
      z-index: 9999;

      @include media ($horizontal-bar-mode) {
        display: inline;
        margin: 0;
        padding: 0;
      }
    }
  }

  // The nav items

  nav li {
    background: $navigation-background;
    display: block;
    line-height: $navigation-height;
    overflow: hidden;
    padding-right: .8em;
    text-align: right;
    width: 100%;
    z-index: 9999;

    @include media ($horizontal-bar-mode) {
      background: transparent;
      display: inline;
      line-height: $navigation-height;
      text-decoration: none;
      width: auto;
    }

    a {
      color: $navigation-color;
      display: inline-block;
      font-weight: 400;

      @include media ($horizontal-bar-mode) {
        padding-right: 1em;
      }

      &:hover {
        color: $navigation-color-hover;
      }
    }
  }

  .active a {
    border-bottom: 1px solid $navigation-active-link-color;
    padding-bottom: 3px;
  }

  // Sub menus

  nav .expanded {
    padding-right: 0;

    @include media($large-screen) {
      padding-right: $navigation-submenu-padding;
    }

    > ul > li:first-child a  {
      padding-top: 1em;
    }

    a {
      margin-right: $navigation-submenu-padding;
    }

    > a {
      padding-right: 0.6em;
    }

    > a:after {
      @include position(absolute, auto -.4em auto auto);
      content: '\25BE';
      color: $navigation-color;
    }
  }

  .expanded {
    overflow: visible;
    padding-right: 0;

    a {
      padding-right: .8em;
    }

    > a {
      padding-right: 1.6em;
      position: relative;

      @include media($large-screen) {
        margin-right: $navigation-submenu-padding;
      }

      &:after {
        content: '›';
        font-size: 1.2em;
        position: absolute;
        right: $navigation-submenu-padding / 2;
      }
    }

    &:hover > ul {
      display: block;
    }

    @include media($horizontal-bar-mode) {
      padding-right: .8em;
      position: relative;
    }
  }

  .expanded ul {
    display: none;
    padding-left: 0;

    @include media($horizontal-bar-mode) {
      left: -$navigation-submenu-padding;
      position: absolute;
      top: 1.5em;
    }

    ul {
      @include media($horizontal-bar-mode) {
        left: $navigation-submenu-width - .2em;
        top: 0;
      }
    }

    li {
      display: block;
      padding-right: 0;

      @include media($horizontal-bar-mode) {
        line-height: $navigation-height / 1.3;

        &:first-child > a {
          border-top-left-radius: $base-border-radius;
          border-top-right-radius: $base-border-radius;
        }

        &:last-child > a {
          border-bottom-left-radius: $base-border-radius;
          border-bottom-right-radius: $base-border-radius;
          padding-bottom: .7em;
        }
      }

      a {
        background-color: darken($navigation-background, 3);
        display: inline-block;
        text-align: right;
        width: 100%;

        @include media($horizontal-bar-mode) {
          background-color: $navigation-background;
          padding-left: $navigation-submenu-padding;
          text-align: left;
          width: $navigation-submenu-width;
        }
      }
    }
  }

  // Elements on the far right

  .navigation-tools {
    @include clearfix;
    display: block;
    padding-right: $navigation-padding;
    padding-left: $navigation-padding/2;
    clear: both;
    background: #505050;

    @include media($large-screen) {
      background: transparent;
      float: right;
      clear: none;
    }
  }

  .sign-up {
    @extend button;
    margin-top: 1.2em;
    float: right;
    display: inline;
    font-size: .8em;
    text-transform: uppercase;
    padding: .75em 1em;
  }

  // Search bar

  div[role="search"] {
    $search-bar-border-color: $base-border-color;
    $search-bar-border: 1px solid $search-bar-border-color;
    $search-bar-background: lighten($search-bar-border-color, 10);

    padding: .85em .6em;
    width: 60%;
    float: left;

    #search-block-form {
      position: relative;

      input[type="text"] {
        background: $navigation-search-background;
        border: $navigation-search-border;
        padding: .6em .8em;
        font-size: .9em;
        font-style: italic;
        color: $navigation-color;
        border-radius: $base-border-radius * 2;
        margin: 0;

        @include media($large-screen) {
          width: 100%;
        }
      }

      .form-actions {
        @include button(flat, $navigation-search-background);
        position: absolute;
        top: 0.3em;
        right: 0.3em;
        bottom: 0.3em;
        left: auto;
        outline: none;
        padding: 6px 15px;
        margin: 0;

        input {
          height: 12px;
          opacity: .7;
        }
      }
    }

    @include media($horizontal-bar-mode) {
      width: 16em;
      position: relative;
      display: inline-block;

      input {
        @include box-sizing(border-box);
        display: block;
      }
    }
  }
}


//
// Centered Navigation
.centered-navigation {
  $centered-navigation-padding: 1em;
  $centered-navigation-logo-height: 2em;
  $centered-navigation-background: transparent;
  $centered-navigation-color: transparentize($base-font-color, 0.3);
  $centered-navigation-color-hover: $base-font-color;
  $centered-navigation-height: 60px;
  $centered-navigation-item-padding: 1em;
  $centered-navigation-submenu-padding: 1em;
  $centered-navigation-submenu-width: 12em;
  $centered-navigation-item-nudge: 2.2em;
  $horizontal-bar-mode: $large-screen;

  background-color: $centered-navigation-background;
  border-bottom: 1px solid darken($centered-navigation-background, 6);
  font-family: $serif;
  margin-bottom: 4em;
  width: 100%;
  z-index: 499;

  @include media($horizontal-bar-mode) {
    height: $centered-navigation-height;
    margin: 4em 0 4em;
  }

  // Mobile view

  .mobile-logo {
    display: inline;
    float: left;
    max-height: $centered-navigation-height;
    padding-left: $centered-navigation-padding;

    img {
      max-height: $centered-navigation-height;
      opacity: .6;
      padding: .8em 0;
    }

    @include media($horizontal-bar-mode) {
      display: none;
    }
  }

  .centered-navigation-menu-button {
    color: $centered-navigation-color;
    display: block;
    float: right;
    font-weight: 700;
    line-height: $centered-navigation-height;
    margin: 0;
    padding-right: $centered-navigation-submenu-padding;
    text-transform: uppercase;

    @include media ($horizontal-bar-mode) {
      display: none;
    }

    &:hover {
      color: $centered-navigation-color-hover;
    }
  }

  // Nav menu

  .centered-navigation-wrapper {
    @include outer-container;
    @include clearfix;
    position: relative;
    z-index: 498;
  }

  nav {
    -webkit-transform-style: preserve-3d; // stop webkit flicker
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 499;

    @include media ($horizontal-bar-mode) {
      display: block;
      text-align: center;
    }
  }

  // The nav items

  nav > ul > li {
    background: $centered-navigation-background;
    display: block;
    line-height: $centered-navigation-height;
    overflow: hidden;
    padding-right: $centered-navigation-submenu-padding;
    text-align: right;
    width: 100%;
    z-index: 9999;

    @include media($horizontal-bar-mode) {
      background: transparent;
      display: inline;
      line-height: $centered-navigation-height;

      a {
        padding-right: $centered-navigation-item-padding;
      }
    }

    a {
      color: $centered-navigation-color;
      display: inline-block;


      &:hover {
        color: $centered-navigation-color-hover;
      }
    }
  }

  nav > ul > li:nth-child(3) { // Home Link
    display: none;
    line-height: 0;

    @include media($large-screen) {
      display: inline;
    }

    a {
      background:url("https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3_dark.png") no-repeat scroll 0 0;
      background-size: contain;
      margin-bottom: -$centered-navigation-logo-height / 3;
      opacity: .6;
      height: 0;
      line-height: 1em;
      overflow: hidden;
      padding: 35px 0 0 0;
    }
  }

  // Sub menus

  nav > ul > li.expanded {
    padding-right: 0;

    @include media($large-screen) {
      padding-right: $centered-navigation-submenu-padding;
    }

    > ul > li:first-child a  {
      @include media($horizontal-bar-mode) {
        padding-top: 1em;
      }
    }

    a {
      margin-right: $centered-navigation-submenu-padding;
    }

    > a {
      padding-right: 0.6em;
    }

    > a:after {
      @include position(absolute, auto -.4em auto auto);
      color: $centered-navigation-color;
      content: '\25BE';
    }
  }

  li.expanded {
    overflow: visible;
    padding-right: 0;

    a {
      padding-right: $centered-navigation-submenu-padding;
    }

    > a {
      padding-right: 1.6em;
      position: relative;

      @include media($large-screen) {
        margin-right: $centered-navigation-submenu-padding;
      }

      &:after {
        content: '›';
        font-size: 1.2em;
        position: absolute;
        right: $centered-navigation-submenu-padding / 2;
      }
    }

    &:hover > ul {
      display: block;
    }

    @include media($horizontal-bar-mode) {
      padding-right: $centered-navigation-submenu-padding;
      position: relative;
    }
  }

  .expanded ul {
    display: none;
    padding-left: 0;

    @include media($horizontal-bar-mode) {
      left: -$centered-navigation-submenu-padding;
      position: absolute;
      top: 1.5em;
    }

    ul {
      @include media($horizontal-bar-mode) {
        left: $centered-navigation-submenu-width - .2em;
        top: 0;
      }
    }

    li {
      display: block;
      padding-right: 0;

      @include media($horizontal-bar-mode) {
        line-height: $centered-navigation-height / 1.3;

        &:first-child > a {
          border-top-left-radius: $base-border-radius;
          border-top-right-radius: $base-border-radius;
        }

        &:last-child > a {
          border-bottom-left-radius: $base-border-radius;
          border-bottom-right-radius: $base-border-radius;
          padding-bottom: .7em;
        }
      }

      a {
        background-color: darken($centered-navigation-background, 3);
        display: inline-block;
        text-align: right;
        width: 100%;

        @include media($horizontal-bar-mode) {
          background-color: $centered-navigation-background;
          padding-left: $centered-navigation-submenu-padding;
          text-align: left;
          width: $centered-navigation-submenu-width;
        }
      }
    }
  }
}

//
// Sliding Menu
$sliding-menu-border-color: $dark-gray;
$sliding-menu-background: lighten($sliding-menu-border-color, 5);
$sliding-menu-color: #fff;
$sliding-menu-border: 1px solid $sliding-menu-border-color;
$sliding-menu-background-hover: $base-accent-color;
$sliding-menu-color-hover: #fff;

.sliding-menu-button {
  @include inline-block;
  background-color:#aaa;
  cursor: pointer;
  font-size: $base-font-size;
  margin-bottom: $base-line-height;
  padding:0.5em .75em;
  position: relative;
  outline: none;

  &:hover {
    background-color: #7f7f7f;
  }

  img {
    height: 2em;
  }
}

header nav, header nav.contextual-links-region, body > nav, body > nav.contextual-links-region {
  @include position(fixed, 0px auto 0px 0px);
  @include size(220px 100%);
  @include transform(translateX(-220px));
  @include transition(all .25s linear);
  background: $sliding-menu-background;
  z-index: 999999;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  li a {
    border-bottom: $sliding-menu-border;
    color: $sliding-menu-color;
    display: block;
    font-weight: bold;
    padding: 1em;

    &:hover {
      background-color: $sliding-menu-background-hover;
      color: $sliding-menu-color-hover;
    }
  }

  &.is-visible {
    @include transform(translateX(0));
  }

  .expanded ul {
    background-color: #7f7f7f;
    a:after {
      content: "-";
      margin-right: 4%;
    }
  }
}
body > nav, body > nav.contextual-links-region {
  @include position(fixed, 0px 0px 0px auto);
  @include transform(translateX(220px));
}

.menu-screen {
  @include position(fixed, 0px 0px 0px 0px);
  @include transition;
  background: $sliding-menu-border-color;
  opacity: 0;
  visibility: hidden;
  z-index: 999998;

  &.is-visible {
    opacity: .4;
    visibility: visible;
  }
}

// Based on code by Diego Eis


