@charset "UTF-8";
/* Bourbon & Neat
 * -----------------------------------------------------------------------------*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Bitters 0.10.0
 * http://bitters.bourbon.io
 * Copyright 2013–2014 thoughtbot, inc.
 * MIT License */
button, .button,
input[type="submit"] {
  -webkit-font-smoothing: antialiased;
  background-color: #477dca;
  border-radius: 3px;
  color: white;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none; }
  button:hover, .button:hover,
  input[type="submit"]:hover {
    background-color: #2c5999;
    color: white; }
  button:disabled, .button:disabled,
  input[type="submit"]:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

body {
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  line-height: 1.25;
  margin: 0;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 2.25em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

p {
  margin: 0 0 0.75em; }

a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #477dca;
  text-decoration: none; }
  a:hover {
    color: #2c5999; }
  a:active, a:focus {
    color: #2c5999;
    outline: none; }

hr {
  border-bottom: 1px solid #dddddd;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

blockquote {
  border-left: 2px solid #dddddd;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em; }

cite {
  color: #737373;
  font-style: italic; }
  cite:before {
    content: "\2014 \00A0"; }

fieldset {
  background: #f7f7f7;
  border: 1px solid #dddddd;
  margin: 0 0 0.75em 0;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em; }

label {
  font-weight: bold;
  margin-bottom: 0.375em; }
  label.required:after {
    content: "*"; }
  label abbr {
    display: none; }

textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 3px;
  border: 1px solid #dddddd;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%; }
  textarea:hover,
  input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
  select[multiple=multiple]:hover {
    border-color: #c4c4c4; }
  textarea:focus,
  input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
  select[multiple=multiple]:focus {
    border-color: #477dca;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  padding-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #dddddd;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }
dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

button, .button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

/* Base
 * -----------------------------------------------------------------------------*/
.sidebar .block {
  clear: both;
  margin-bottom: 20px; }

img, object, video {
  height: auto;
  max-width: 100%; }

article.type-system-geometric {
  text-align: left; }
  article.type-system-geometric:after {
    content: "";
    display: table;
    clear: both; }
  article.type-system-geometric .type {
    border-bottom: 1px solid;
    display: inline-block;
    font-family: "Questrial", sans-serif;
    font-size: .7em;
    font-weight: 800;
    margin-bottom: 2em;
    padding: .3em 0;
    text-align: left;
    text-transform: uppercase; }
  article.type-system-geometric h1 {
    font-family: "Sanchez", serif;
    font-size: 1.8em;
    font-weight: 700;
    margin-bottom: .5em; }
    @media screen and (min-width: 40em) {
      article.type-system-geometric h1 {
        font-size: 2.6em; } }
  article.type-system-geometric h2 {
    font-family: "Sanchez", serif;
    font-style: italic;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.4em;
    margin-bottom: 1.1em; }
    @media screen and (min-width: 40em) {
      article.type-system-geometric h2 {
        font-size: 1.3em; } }
  article.type-system-geometric code {
    white-space: nowrap;
    background: #F7F7F7;
    border: 1px solid #E0E0E0;
    border-radius: 4.5px;
    padding: .1em .4em;
    font-size: .7em;
    font-style: normal; }
  article.type-system-geometric h3 {
    font-family: "Sanchez", serif;
    font-size: 1.4em;
    font-weight: 400;
    line-height: 1.3em;
    margin-bottom: .4em; }
  article.type-system-geometric p.date {
    color: rgba(51, 51, 51, 0.4);
    font-family: "Sanchez", serif;
    font-style: italic;
    font-size: .9em;
    margin-bottom: .3em; }
  article.type-system-geometric p {
    font-family: "Questrial", sans-serif;
    line-height: 1.5em;
    font-size: 1.05em;
    margin-bottom: 1.5em; }
  article.type-system-geometric a.read-more {
    display: inline-block;
    font-family: "Questrial", sans-serif;
    font-weight: 700;
    font-size: .8em;
    text-transform: uppercase;
    margin-left: .2em;
    position: relative; }
    article.type-system-geometric a.read-more span {
      font-family: "Questrial", sans-serif;
      font-style: normal;
      position: absolute;
      font-size: 1.5em;
      top: -1px;
      right: -12px; }
  article.type-system-geometric hr {
    width: 3em; }
  article.type-system-geometric p.author {
    font-family: "Questrial", sans-serif; }

.type-system-sans {
  text-align: left; }
  .type-system-sans:after {
    content: "";
    display: table;
    clear: both; }
  .type-system-sans .type {
    border-bottom: 1px solid;
    display: inline-block;
    font-family: "Titillium Web", sans-serif;
    font-size: .7em;
    font-weight: 900;
    letter-spacing: 1px;
    margin-bottom: 2em;
    padding: .1em 0;
    text-align: left;
    text-transform: uppercase; }
  .type-system-sans h1 {
    font-family: "Titillium Web", sans-serif;
    font-size: 2em;
    font-weight: 600;
    margin-bottom: .6em; }
    @media screen and (min-width: 40em) {
      .type-system-sans h1 {
        font-size: 2.4em; } }
  .type-system-sans h2 {
    font-family: "PT Sans", sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.4em;
    margin-bottom: 1.2em; }
    @media screen and (min-width: 40em) {
      .type-system-sans h2 {
        font-size: 1.4em; } }
  .type-system-sans code {
    white-space: nowrap;
    font-family: monaco;
    background: #F7F7F7;
    border: 1px solid #E0E0E0;
    border-radius: 4.5px;
    padding: .1em .4em;
    font-size: .65em;
    font-style: normal; }
  .type-system-sans h3 {
    font-family: "Titillium Web", sans-serif;
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.4em;
    margin-bottom: .5em; }
  .type-system-sans p.date {
    color: rgba(51, 51, 51, 0.4);
    font-family: "PT Sans", sans-serif;
    font-size: .8em;
    margin-bottom: .5em; }
  .type-system-sans p {
    font-family: "PT Sans", sans-serif;
    font-weight: 300;
    letter-spacing: 1;
    margin-bottom: 1.5em; }
    .type-system-sans p span {
      font-family: "PT Sans", sans-serif;
      font-weight: 600;
      font-size: .8em;
      text-transform: uppercase; }
  .type-system-sans hr {
    width: 3em; }
  .type-system-sans a.read-more {
    display: inline-block;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: .8em;
    text-transform: uppercase;
    margin-left: .2em;
    position: relative; }
    .type-system-sans a.read-more span {
      position: absolute;
      font-size: 1.7em;
      top: -2px;
      right: -10px; }
  .type-system-sans p.author {
    font-family: "PT Sans", sans-serif;
    font-style: italic; }

/* Tables */
table {
  width: 100%; }

table, thead, td, tr, th {
  border: none; }

tr {
  border-bottom: 1px solid #ccc; }

td, th {
  padding: 7px 20px; }

.content ol, .content ul {
  margin: 0 1em; }
.content ol {
  list-style-type: decimal; }
.content ul {
  list-style-type: disc; }

.view-content ul, .view-content ol {
  margin: 0;
  padding: 0; }

.item-list ul li.views-row, .views-row {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative; }

ul.tabs {
  border-bottom: 1px solid #DDD;
  margin-bottom: 1.5em; }
  ul.tabs:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (min-width: 40em) {
    ul.tabs li {
      display: inline; } }
  ul.tabs a {
    background-color: white;
    border-top: 1px solid #dddddd;
    color: #333333;
    display: block;
    font-weight: 400;
    padding: 0.75em 20px; }
    @media screen and (min-width: 40em) {
      ul.tabs a {
        display: inline-block;
        border-top: 0; } }
    ul.tabs a:hover {
      color: #477dca; }
    ul.tabs a:focus {
      outline: none; }
  ul.tabs li.active a {
    border-bottom: 0; }
    @media screen and (min-width: 40em) {
      ul.tabs li.active a {
        border: 1px solid #dddddd;
        border-bottom-color: white;
        margin-bottom: -1px; } }

.breadcrumb {
  display: inline-block;
  text-align: left;
  margin-bottom: 1.5em; }
  .breadcrumb a {
    display: inline-block;
    background-color: white;
    border: 1px solid #dddddd;
    border-left-color: transparent;
    color: #999999;
    line-height: 2.25em;
    margin-right: -5px;
    font-size: .8em;
    padding: 0 0.5625em 0 1.125em;
    position: relative;
    text-decoration: none;
    margin-bottom: 2px; }
    .breadcrumb a:first-child {
      padding-left: 1.125em;
      border-left-color: #dddddd;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px; }
    .breadcrumb a:last-child {
      background-color: white;
      border-left-color: transparent;
      color: #999999;
      border-bottom-right-radius: 3px;
      border-top-right-radius: 3px;
      padding-right: 1.125em; }
    .breadcrumb a:first-child:last-child {
      border-left-color: #dddddd; }
    .breadcrumb a:hover {
      color: #477dca;
      background-color: white; }
    .breadcrumb a:hover:after {
      border-left-color: white; }
    .breadcrumb a:after, .breadcrumb a:before {
      position: absolute;
      top: 0px;
      right: auto;
      bottom: 0px;
      left: 100%;
      border-bottom: 1.125em solid transparent;
      border-left: 0.5625em solid transparent;
      border-top: 1.125em solid transparent;
      content: '';
      display: block;
      margin: auto;
      z-index: 2; }
    .breadcrumb a:last-child:after, .breadcrumb a:last-child:before {
      border: none; }
    .breadcrumb a:before {
      border-left-color: #dddddd;
      margin-left: 1px;
      z-index: 1; }
    .breadcrumb a:after {
      border-left-color: white; }
    @media screen and (min-width: 40em) {
      .breadcrumb a {
        font-size: 1em;
        padding: 0 1.125em 0 1.5em; } }

/* Fonts (pulled in separately for wysiwyg)
 * -----------------------------------------------------------------------------*/
