// Forms
form small, form .description {
  color: #5f5f5f;
}
label, label.required {
  display: block;
  font-weight: 700;
}
label.required:after {
  content: "*";
  color: #c41230;
  margin-left: 3px;
}
input[type="text"], input[type="password"], input[type="email"] {
  border: 1px solid;
  border-radius: 5px;
  margin: 10px 0;
  padding: 9px 34px 9px 10px;
}
textarea {
  border:none;
  border-radius:5px 5px 0 0;
  padding: 9px;
}
input[type="submit"] {
  @include btn;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}
